<% if (!@log.nil?) %>
  <dl class="actionLog">
	  <% @log.each_entry do |timestamp, entry, comment| %>
	    <dt><%= format_action_log_timestamp(timestamp) %> : </dt>
	    <dd>
	      <%= format_action_log_message(entry) %> 
	      <% if (!comment.nil? && !comment.empty?)%>
  	      <div class="log_comment"><%= comment %></div> 
	      <% end %>
		  </dd>		  		
	  <% end %>
  </dl>
<% end %>