<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= h(@page_title || application_name) %></title>
    <%= stylesheet_link_tag 'site' %>    
  </head>

  <body style="background: #f6f2e6 url('/images/bgTopBar_1x48.png') repeat-x;">
    <div id="logo">&nbsp;</div>
		<div id="not-authorized">
			<h1>Sorry, access to the EEMs tool is limited to selected users.</h1>
			<h2>What now?</h2>

			<p>To inquire about getting access, contact <a href="mailto:eems-feedback@lists.stanford.edu">eems-feedback@lists.stanford.edu</a>. </p>
			<p>If you think you have access, but are unable to login, contact <a href="http://helpsu.stanford.edu"> HelpSU.</a></p>

			<h2>Protect our web assets</h2>

			<p>Remember to quit your browser when you are finished with this browser session. Quitting the browser is the only sure way to discard the keys to this and other secured Stanford websites that you received when you logged into WebLogin.</p>
    </div>
  </body>

</html>